.form {
    color: #000000e9;
    font-size: 1.05rem;
    font-weight: 700;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.input-container input {
    height: 25px;
}

.submit-button {
    background-color: #34075fe9;
    color: #ffffffed;
    font-size: 1.05rem;
    padding: 7px 14px;
    border: none;
}